<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link rel='stylesheet' href='/stylesheets/style.css' media="screen"/>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500,700" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <title>Dashboard - <%= title %></title>
  </head>
  <body>
    <nav>
        <h1>Crypto Market Watcher Dashboard</h1>
    </nav>
    <section class="container">
        <div class="login">
          
          
        </div>
        <footer class="dash-footer">
          <p>Make with <i class="em em-heart"></i> by calvex225.</p>
        </footer>
    </section>
    <script src="../public/websocket.js"></script>
  </body>
</html>