body {
    background: #F7F7F0;
    color: #191919;
    font-family: 'Catamaran', sans-serif;
    padding: 0;
    margin: 0;
}

.welcome {
    background: url(../images/bg.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.overlay {
    background: linear-gradient(to right bottom, #5EB6DD, #234CA5);
    opacity: 0.9;
    z-index: -1;
}

.login {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 110px;
    color: #fff;
}

.login h1 {
    font-size: 50px;
    font-weight: 700 bold;
}

.login p{
    font-size: 22px;
    font-weight: 500 medium;
}

.welcome-footer {
    padding: 20px 0px 10px 0px;
    text-align: center;
    color: #fff;
    font-size: 1.3em;
}

input {
    width: 250px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #fff ;
    color: #fff !important;
    padding: 5px 5px 5px 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 8px;
}

button {
    height: 40px;
    width: 280px;
    background: #fff;
    padding: 5px 5px 5px 10px;
    font-size: 20px;
    border: 2px solid #fff ;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #FFD940;
    padding: 5px 5px 5px 10px;
    font-size: 20px;
    color: #234CA5;
    border: 2px solid #FFD940 ;
    border-radius: 8px;
}