body {
    background: #F7F7F0;
    color: #191919;
    font-family: 'Catamaran', sans-serif;
    padding: 0;
    margin: 0;
}

.yellow {
    color: #FFD940;
}

.blue {
    color: #234CA5;
}

.ligth-blue {
    color: #5EB6DD;
}
.red {
    color: #DB2218;
}

.welcome {
    background: url(../images/bg.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.overlay {
    background: linear-gradient(to right bottom, #5EB6DD, #234CA5);
    opacity: 0.9;
    z-index: -1;
}

.headbanner {
    width: 100%;
    height: 170px;
    background: url(../images/bitcoinbanner.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0; 
}

.navbar {
    background: #191919;
    display: inline-block;
    color: #fff;
    border-bottom: 3px #FFD940 solid;
    font-size: 22px;
    font-weight: 500 medium;
    width: 100%;
}

.logo{
    text-align: left;
    display: inline-block;
    padding-left: 50px;
}

.menu{
    display: inline-block;
    padding-left: 30px;
    text-align: right;
    position: relative;
    left: 50px;
}

.menu ul{
    display: inline-block;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0 10px 0 10px;
}

.menu ul li a:hover{
    color: #FFD940;
    border-top: 5px #FFD940 solid;
}

.menu ul li a:active{
    color: #FFD940;
}

.notif {
    display: inline-block;
    text-align: right;
    padding: 0 50px 0 50px; 
    position: relative;
    right: -180px;
}

span .ligth-blue {
    text-decoration: none;
}

.login {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 110px;
    color: #fff;
}

.login h1 {
    font-size: 50px;
    font-weight: 700 bold;
}

.login p {
    font-size: 22px;
    font-weight: 500 medium;
}

.dashb-content {
    width: auto;
    height: 100%;
    left: 17%;
    right: 17%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 50px 50px 50px;
    color: #191919;
    top: -50px;
    position: relative;
    font-size: 22px;
    font-weight: 500 medium;
    background: #fff;
    border-radius: 20px;
    box-shadow: 1px 1px 8px #9b9b9b;
    display: inline-block;
    text-align: center;
}

.bid-price {
    display: inline-block;
    border-right: 1px #191919 dotted;
    padding: 5px 25px 5px 5px;
}

.bid-price h1 span .blue{
    font-size: 28px;
    font-weight: 700 bold;
}

.ask-price {
    display: inline-block;
    border-right: 1px #191919 dotted;
    padding: 5px 25px 5px 25px;
}

.ask-price h1 span .yellow{
    font-size: 28px;
    font-weight: 700 bold;
}

.last-price {
    display: inline-block;
    padding: 5px 5px 5px 25px;
}

.last-price h1 span .red{
    font-size: 28px;
    font-weight: 700 bold;
}

.welcome-footer {
    padding: 20px 0px 10px 0px;
    text-align: center;
    color: #fff;
    font-size: 1.3em;
}

.dashb-footer {
    padding: 20px 0px 10px 0px;
    text-align: center;
    color: #191919;
    font-size: 1.3em;
}

input {
    width: 250px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #fff ;
    color: #fff !important;
    padding: 5px 5px 5px 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 8px;
}

button {
    height: 40px;
    width: 280px;
    background: #fff;
    padding: 5px 5px 5px 10px;
    font-size: 20px;
    border: 2px solid #fff ;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #FFD940;
    padding: 5px 5px 5px 10px;
    font-size: 20px;
    color: #234CA5;
    border: 2px solid #FFD940 ;
    border-radius: 8px;
}